.first{
  background-image: url("pattern.png");
  background-color: rgb(78, 160, 255);
  
}

#logo{
  width: 250px;
  margin-left: 20%;
  height: 150px;
  
}

  main{
    margin: auto;
    width: 60%;
  }

  #title{
    font-size: 45px;
    margin-bottom: 0;
  }

  .autore p{
    color: rgb(128, 128, 128);
    font-size: 18px;
    margin-top: 0;
  }

  a{
    text-decoration: none;
    color: rgb(32, 169, 229);
  }

  #date{
    font-size: 12px;
  }

  .knight p{
    font-size: 11px;
    margin-top: 0;
  }